<h3>Leaderboard</h3>
<table>
	<th>Name</th>
	<th>Points</th>
	<% @users.each do |user| %>
	<tr>
		<td> <%= link_to user.login, user_path(user) %></td>
		<td> <%= user.points %></td>
		<%end%>
</table>